<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruxuanwo.data.export.mapper.EdTemplateToolMapper">
  <resultMap id="BaseResultMap" type="com.ruxuanwo.data.export.domain.EdTemplateTool">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="VARCHAR" property="id" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="tool_id" jdbcType="VARCHAR" property="toolId" />
  </resultMap>
</mapper>